body {
  background: #fff;
  color: #7E96B3;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}
body, input {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  color: #7E96B3;
  text-decoration: none;
  border-bottom: 1px solid;
  border-color: #CCD6E4;
  padding-bottom: 1px;
  transition: border-color 0.2s, color 0.2s;
}
a:hover {
  border-color: #889FBB;
  color: #3C5675;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  color: #E7672E;
  background: -webkit-linear-gradient(#E7762E, #E7562E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animated {
  animation-delay: 1.9s;
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
}

header {
  text-align: center;
  margin: 150px auto 150px;
}
header h1 {
  margin: 0 0 40px;
}
header h2 {
  color: #3C5675;
  background: none;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: initial;
  margin-bottom: 15px;
}
header p {
  max-width: 400px;
  font-size: 20px;
  margin: 0 auto 40px;
}
.actions a {
  text-transform: uppercase;
  font-size: 14px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 15px 30px 13px;
  display: inline-block;
  line-height: 1em;
  margin: 0 8px;
}

.feature {
  margin: 0 auto 100px;
  overflow: hidden;
}
.feature .graphic {
  max-width: 50%;
  float: right;
  margin: 0 0 20px 20px;
}
.feature .graphic object {
  max-width: 100%;
}
.feature .text {
  max-width: 530px;
}
.feature h2 {
  margin: 0;
  line-height: 1.4;
}
.feature p {
  margin: .5em 0;
}

.lead {
  font-size: 20px;
  color: #3C5675;
}

.comparison-bars {
  margin: 2em 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  transition: opacity 0.5s;
}
.comparison-bars li {
  margin-bottom: 13px;
  padding-left: 80px;
}
.comparison-bars strong {
  float: left;
  margin-left: -80px;
}
.comparison-bars strong a {
  border-bottom: 0;
}
.comparison-bars .bar {
  display: inline-block;
  vertical-align: middle;
  width: 185px;
  white-space: nowrap;
}
.comparison-bars .bar-border {
  background: #AEC2DA;
  height: 13px;
  padding: 2px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  transition: width 1s;
}
.comparison-bars .bar-fill {
  background: #fff;
  display: block;
  height: 13px;
  border-radius: 1px;
}
.comparison-bars .highlight {
  color: #E7672E;
}
.comparison-bars .highlight .bar-border {
  background: linear-gradient(#E7762E, #E7562E);
}
.comparison-bars .number {
  margin-left: 10px;
  transition: opacity 1s;
}
.comparison-bars .number[title] {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 2px;
  cursor: help;
}

.comparison-bars.hidden {
  opacity: 0;
}
.comparison-bars.hidden .bar-border {
  width: 0 !important;
  visibility: hidden;
}
.comparison-bars.hidden .number {
  opacity: 0;
}

@media screen and (min-width: 1100px) {
  .feature-responsive .graphic {
    float: left;
  }
  .feature-responsive .text {
    float: right;
    margin-top: 60px;
    margin-right: 20px;
  }
  .feature-powerful .text {
    margin-top: 60px;
  }
}

.tooltip {
  position: absolute;
  background: #fff;
  border: 2px solid #E7752E;
  padding: 9px 15px 7px;
  color: #E7752E;
  font-size: 16px;
  border-radius: 5px;
  line-height: 1em;
  transition: opacity 0.5s, margin-top 0.5s;
  pointer-events: none;
  white-space: nowrap;
}
.tooltip:before {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid #E7752E;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.tooltip:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7px;
  border-top: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.tooltip.hidden {
  opacity: 0;
  margin-top: 7px;
}

.coming-soon {
  max-width: 585px;
  text-align: center;
}
.mailing-list {
  max-width: 400px;
  text-align: center;
  margin: 30px auto;
  position: relative;
  font-size: 14px;
}
.mailing-list input {
  border: 2px solid #CCD6E4;
  color: #536F90;
  padding: 15px 70px 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  width: 99.9%;
  box-sizing: border-box;
  margin-bottom: 10px;
  -webkit-appearance: none;
  transition: border 0.2s;
}
::-webkit-input-placeholder {
  color: #7E96B3;
}
::-moz-placeholder {
  color: #7E96B3;
}
:-ms-input-placeholder {
  color: #7E96B3;
}
.mailing-list input:focus {
  border-color: #889FBB;
  outline: none;
}
.mailing-list button {
  border: 0;
  background: none;
  opacity: 0.4;
  padding: 10px;
  position: absolute;
  top: 5px;
  right: 20px;
  outline: none;
  transition: opacity 0.2s;
  cursor: pointer;
}
.mailing-list button:hover {
  opacity: 0.75;
}
.mailing-list button:active {
  opacity: 1;
}
#mc_embed_signup input.mce_inline_error {
  border-color: #E5969F !important;
}

footer {
  text-align: center;
  margin-bottom: 50px;
  line-height: 2em;
}
footer a {
  border: 0;
  transition: color 0.2s;
}
footer a:hover {
  color: #536F90;
}
footer .links {
  margin-bottom: 5px;
}
footer .links a, footer .copyright span {
  border: 0;
  margin: 0 8px;
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
  header {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  header h1 {
    margin-bottom: 20px;
  }
  header h1 object {
    max-width: 70%;
  }
  header p {
    font-size: 16px;
  }
  .actions a {
    display: block;
    margin-bottom: 10px;
    border-width: 1px;
  }
  h2 {
    font-size: 22px;
  }
  .lead {
    font-size: 18px;
  }
  .feature {
    margin-bottom: 70px;
  }
  .feature .text {
    margin-top: 0 !important;
  }
  .feature .graphic {
    max-width: 100%;
    margin: 0 0 20px;
    float: none;
  }
  .feature .graphic object {
    max-width: 100%;
  }
  .comparison-bars .bar {
    width: 120px;
  }
  .comparison-bars .bar-border {
    padding: 1px;
  }
  .comparison-bars .bar-fill {
    border-radius: 2px;
  }
  .tooltip {
    border-width: 1px;
    padding: 7px 12px 5px;
  }
  .tooltip:before {
    border-width: 9px 9px 0 9px;
    margin-left: -9px;
  }
}
