<div class="Actions">
  <div class="container">
    <div class="Actions-item">
      <h3>Contribute</h3>
      <h4>Help us build Flarum.</h4>
      <p>Flarum is and always will be 100% free and open-source under the MIT license. Fork it on GitHub and help make it bettter.</p>
      <a href="https://github.com/flarum/flarum" class="Button">Fork on GitHub</a>
    </div>

    <div class="Actions-item">
      <h3>Donate</h3>
      <h4>Support Flarum development.</h4>
      <p>Help us pay for dedicated dev time and servers so that we can keep building. There's a <a href="{{ site.baseurl }}/roadmap">lot to look forward to</a>.</p>
      <a href="{{ site.baseurl }}/donate" class="Button">Donate</a>
    </div>

    <div class="Actions-item">
      <h3>Extend</h3>
      <h4>Make Flarum your own.</h4>
      <p>Read the work-in-progress documentation and learn how to build extensions, themes, and language packs.</p>
      <a href="{{ site.baseurl }}/docs" class="Button">Read the docs</a>
    </div>
  </div>
</div>
