<footer class="Footer">
  <div class="container">
    <div class="Footer-social">
      <iframe src="https://ghbtns.com/github-btn.html?user=flarum&repo=flarum&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>

      <a class="twitter-follow-button" href="https://twitter.com/{{ site.twitter_username }}">Follow @{{ site.twitter_username }}</a>
    </div>

    <div class="Footer-nav">
      <a href="{{ site.baseurl }}/features">Features</a>
      <a href="{{ site.baseurl }}/docs/installation">Download</a>
      <a href="{{ site.baseurl }}/docs">Documentation</a>
      <a href="http://discuss.flarum.org">Community</a>
      <a href="https://github.com/flarum/flarum">GitHub</a>
      <a href="mailto:{{ site.email }}">Contact</a>
      <a href="{{ site.baseurl }}/donate">Donate</a>
    </div>

    <div class="Footer-copyright">
      <span>Copyright © 2015 <a href="http://tobyzerner.com">Toby Zerner</a></span>
      <span><a href="{{ site.baseurl }}/privacy">Privacy Policy</a></span>
      <span>Icons by <a href="http://linea.io">Linea</a></span>
    </div>
  </div>
</footer>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
