<div class="Team">
  <div class="Team-members">
    <div class="Team-member">
      <h3>
        <a href="https://twitter.com/tobscure" target="_blank">
          <img src="{{ site.baseurl }}/img/toby.png" alt="" width="108" height="108">
          Toby Zerner
        </a>
      </h3>
      <h4><a href="https://esotalk.org/" target="_blank">esoTalk</a> Developer</h4>
    </div>

    <div class="Team-member">
      <h3>
        <a href="https://twitter.com/franzliedke" target="_blank">
          <img src="{{ site.baseurl }}/img/franz.png" alt="" width="108" height="108">
          Franz Liedke
        </a>
      </h3>
      <h4><a href="https://fluxbb.org/" target="_blank">FluxBB</a> Developer</h4>
    </div>
  </div>

  <p class="Team-text">
    We're a couple of passionate open-source forum software developers.
    Forum software hasn't changed in a while, and we thought it was time for a fresh start.
    We're on a mission to make forum software you <em>want</em> to use.
  </p>

  <div class="Team-actions">
    <a href="{{ site.baseurl }}/story/" class="Button">Read the Flarum story</a>
  </div>
</div>
