body {
  background: #fff;
  color: #7E96B3;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}
body, input, select, textarea, button {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

a {
  color: #7E96B3;
  text-decoration: none;
  border-bottom: 1px solid;
  border-color: #CCD6E4;
  padding-bottom: 1px;
  transition: border-color 0.2s, color 0.2s;
}
a:hover {
  border-color: #E7672E;
  color: #E7672E;
}

h2 {
  font-size: 36px;
  color: #E7672E;
  font-weight: normal;
}

.lead {
  font-size: 120%;
}

.Button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  border: 2px solid #CCD6E4;
  border-radius: 6px;
  padding: 15px 30px;
  display: inline-block;
  line-height: 1em;
}

.Header {
  overflow: hidden;
  border-top: 6px solid #E7742E;
  padding: 30px 0;
}
.Header-brand {
  float: left;
  margin: 0;
}
.Header-brand a {
  border: 0;
}
.Header-brand img {
  display: block;
  margin: 0 auto;
}
.Header-nav {
  float: right;
  margin-top: 8px;
}
.Header-nav a {
  border: 0;
  margin: 0 10px;
  margin-bottom: 5px;
  display: inline-block;
}
.Header-nav a.active {
  color: #E7742E;
}

@include respond-to(handhelds) {
  .Header {
    padding: 15px 0;
    text-align: center;
  }
  .Header-brand,
  .Header-nav {
    float: none;
  }
  .Header-brand {
    margin-bottom: 20px;
  }
}

.Hero {
  background: #EFF2F6;
  border: dotted #fff;
  border-width: 2px 0;
  padding: 40px 0;
  color: #7E96B3;
}
.Hero h2 {
  color: #536F90;
  font-size: 35px;
  margin: 0;
}
.Hero p {
  font-size: 20px;
  margin: .5em 0 0;
}

@include respond-to(handhelds) {
  .Hero {
    padding: 20px 0;
  }
}

.Footer {
  text-align: center;
  margin: 100px 0;
  line-height: 2em;
}
.Footer a {
  border: 0;
}
.Footer-nav {
  margin-bottom: 5px;
}
.Footer-nav a, .Footer-copyright span {
  margin: 0 8px;
}

@include respond-to(handhelds) {
  .Footer {
    margin: 30px 0;
  }
}

.container-narrow {
  // max-width: 800px;
}
.story {
  font-size: 20px;
  color: #444;
  padding-top: 20px;

  h2 {
    color: #444;
    font-size: 28px;
    font-weight: 600;
    margin: 1em 0 .5em;
  }
}
