.Docs {
  padding: 30px 0;
}
.Docs-nav {
  float: left;
  width: 275px;
}
.Docs-nav h4 {
  margin: 10px 0;
}
.Docs-nav ul {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
.Docs-nav a {
  border: 0;
  font-size: 1.2em;
}
.Docs article {
  margin-left: 275px;
  color: #444;
  font-size: 18px;
}
.Docs-improve {
  float: right;
  margin-top: 10px;

  a {
    border: 0;
    color: #bbb;
  }
}
.Docs h1 {
  color: #E7672E;
  font-size: 36px;
  font-weight: normal;
  margin: 0 0 .5em;
}
.Docs h2 {
  color: #3C5675;
  font-size: 26px;
  font-weight: normal;
  margin: 1.5em 0 .5em;
}
.Docs h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 1.5em 0 .5em;
}
.Docs h4 {
  color: #3C5675;
  font-size: 20px;
  font-weight: normal;
}
.Docs blockquote {
  background: #EFF2F6;
  color: #7E96B3;
  margin-left: 0;
  margin-right: 0;
  padding: 1px 20px;
  border-radius: 4px;
}
.Docs code {
  font-size: 90%;
}
.Docs-sectionNav {
  text-align: center;
  margin-top: 50px;
}

@include respond-to(handhelds) {
  .Docs-nav {
    float: none;
    width: auto;
  }
  .Docs article {
    margin: 0;
  }
}

pre {
  display: block;
  overflow-x: auto;
  border-radius: 4px;
  padding: 1.5em;
  color: #333;
  background: #f8f8f8;
  -webkit-text-size-adjust: none;
  font-size: 90%;
}

.hljs-comment,
.diff .hljs-header {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #008080;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula {
  color: #d14;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.hljs-name {
  color: #008080;
}

.hljs-regexp {
  color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}
