---
layout: default
---
<header class="Hero">
  <div class="container">
    <h2>Documentation</h2>
  </div>
</header>

<div class="Docs">
  <div class="container">

    {% include docs_contents.html %}

    <article>
      <div class="Docs-improve">
        <a href="https://github.com/flarum/flarum.github.io/edit/master/{{ page.path | replace:'/repo/','' }}">Improve this page</a>
      </div>
      <h1>{{ page.title }}</h1>
      {{ content }}
      {% include section_nav.html %}
    </article>

  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
